* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
}
.gmail-sidebar {
    height: 100%;
    width: 300px;
    background-color: #F6F8FC;
    margin-top: 0;
}
.sidebar__header {
    display: flex;
    column-gap: 50px;
}
/* Tooltip container */
.sidebar__menu {
position: relative;
display: inline-block;
font-size: 2rem;
 /* If you want dots under the hoverable text */
}

/* sidebar__menu text */
.sidebar__menu .sidebar__menutext {
visibility: hidden;
width: 120px;
background-color: #000000;
color: #fff;
text-align: center;
padding: 5px 0;
border-radius: 6px;
font-size: 1rem;

/* Position the tooltip text - see examples below! */
position: absolute;
z-index: 1;
top: 40px;
left:0%;
}

.sidebar__menu:hover {
    cursor: pointer;
}

.button-container {
    background-color: #F6F8FC;
    padding: 10px;
    width: 4rem;
    text-align: center;
    border-radius: 50%;
    margin: 10px;
}

.button-container:hover {
    background-color: #D7D9D9;
    cursor: pointer;
}

/* Show the tooltip text when you mouse over the tooltip container */
.button-container:hover .sidebar__menutext {
    transition-delay: 1s;
    visibility: visible;
}

.sidebar__logo {
    align-self: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.compose-container {
    width: 200px;
    height: 50px;
    background-color: #B4E1FF;
    margin: 30px 20px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.sidebar__compose {
    align-self: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.compose-container:hover {
    box-shadow:0px 0px 15px -4px rgba(0,0,0,.3);
    cursor: pointer;
}

.options-body {
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #F6F8FC;    
}

.options-body:hover {
    border-radius: 0 20px 20px 0;
    background-color: #D7D9D9;
    cursor: pointer;
}

.options-body_fixed {
    font-weight: bold;
    background-color: #BDDFFF;
    border-radius: 0 20px 20px 0;
}

.options-body_fixed:hover {
    background-color: #BDDFFF
}


.logo {
    display: inline-block;
    width: 50px;
}

.text {
    display: inline-block;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}